.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore data
/data/

# Ignore plots
/plots/

# Ignore outputs
/outputs/
/reports/

# Ignore archive
/archive/
/models/archive/
/code/archive/

# Ignore non-coding files
*.xlsx
*.jpeg
*.pdf
*.html
*.csv
*.csl
*.bib
*.nc
*.qmd
*.png
*.RData


